@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Poppins:wght@400;500;600&display=swap');

:root{
  --font-primary: 'Inter', sans-serif;
  --font-secondary: 'Poppins', sans-serif;
  --text-color: #ffffff;
}

/* Base */

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

 
html{
  scroll-behavior: smooth;
}

body{
  background-color: #000000;
  color: var(--text-color);
  font-family: var(--font-primary);
}

body::-webkit-scrollbar{
  display: none;
}

a{
  text-decoration: none;
}

.container{
  max-width: 1280px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.container-medium{
  max-width: 968px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/* Header */

.header{
  width: 100%;
  position: absolute;
  top:0;
  left: 0;
  z-index: 100;
}

.nav{
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo{
  font-size: 1.25rem;
  color: var(--text-color);
}

.nav-toggle{
  display: inline-flex;
  font-size: 1.25rem;
  cursor: pointer;
  color: var(--text-color);
}

@media screen and (max-width:767px) {
 .nav-menu{
    position: fixed;
    background-color: #000000;
    width: 100%;
    height: 30%;
    top:-100%;
    left:0;
    box-shadow: rgba(99,99,99,0.2) 0px 2px 8px 0px;
    z-index: 100;
    padding: 4rem 0 0 3rem;
    transition: .3s;  
 } 
}

.nav-close{
  font-size: 1.5rem;
  position: absolute;
  top: 1rem;
  right: 1.25rem;
  cursor: pointer;
}

.nav-list{
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  list-style: none;
}

/* Hero */

.hero{
  background-color: #111111;
  position: relative;
  z-index: -1;
  padding: 6rem 0;
  display: flex;
  align-items: center;
}

.hero h1{
  font-family: var(--font-secondary);
  font-size: 3rem;
  background:-webkit-linear-gradient(360deg, rgba(152,69,232,1) 0%, rgba(51,210,255,1) 25%, rgba(221,87,137,1) 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.hero p{
  color: #ffffffb3;
  font-size: .8rem;
  letter-spacing: 1px;
  line-height: 1.3rem;
}

.hero h2{
  font-family: var(--font-secondary);
  font-weight: 300;
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}


@media screen and (min-width: 767px) {
  /* Base */

  .container, .container-medium{
    margin-left: auto;
    margin-right: auto;
  }

  /* Header */

  .nav{
    height: 5rem;
  }

  .nav-toggle, .nav-close{
    display: none;
  }

  .nav-list{
    flex-direction: row;
    column-gap: 3rem;
  }

  .nav-menu{
    margin-left: auto;
  }

  /* Hero */

  .hero{
    display: block;
    padding: 13rem  0;
  }

  .hero p{
    font-size: 1rem;
    text-align: justify;
  }
}